#Laravel & php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/framework/*
/storage/logs/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/mix-manifest.json
/public/js/app.js
/public/css/app.css
/.idea
/.vscode
.DS_store
.Thumbs.db
.php_cs.cache
.log
.cache
.temp
.env.*
/.cache
/.config
/storage/app/first-manu12-708e6abd5a8e.json